/*
	Name: PsySkap CSS
	URI: psychaid.no/skap/
	Ver.: 0.1
	Author: Vegard Smelror Åmdal
*/

.actionButtonList { list-style-type: none; padding: 0; }
	.actionButtonList li { display: inline-block; vertical-align: middle; }
	.actionButtonList li a, .actionButtonList li a:visited {
		text-decoration: none;
		background-color: #f5f5f5;
		border-radius: 2px;
		box-shadow: 0 1px 3px #a1a1a1;
		padding: 1em;
		color: #333 !important;
		display: block;
		width: 20em;
		margin-right: 1em;
		font-size: 1.1em;
		line-height: 1.5;
		position: relative;
	}
	.actionButtonList li a span { display: block; font-size: .8em; font-family: Arial, sans-serif; }
	.actionButtonList li a:hover { background-color:#eee; }
	.actionButtonList li a:active { box-shadow:inset 0 1px 2px #666; top: 2px;}


.skapListe { list-style-type: none; padding: 0; margin: 1em 0; }
	.etg-button { cursor: pointer; border-bottom: 1px #00f dotted; }
	.etasje { clear: both; padding: 0; font-variant: small-caps; }
		.skapListe .skap { float: left; position: relative; list-style-type: none; display: inline-block; padding: 5px; border: 1px #ccc solid; cursor: pointer; margin-right: .5em; font-family: Arial, sans-serif; width: 3em; text-align: center; }
		.skapListe .skap:hover { background: #f00; }
		.skapListe .skap:active { background: yellow; top: 1px;}
		.skapListe .skap-selected { background: #c00; }


.building-container { padding: .3em; }
	.building-tabs-list { border-bottom: 1px #333 solid; padding: 0; }
		.building-tab { cursor: pointer; background: #fff; margin-right: .5em; padding: 0 .3em; padding-bottom: -2px; }
		.selected-tab { background: #333; color: #fff; }

.clearfix:before, .clearfix:after, {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
.clearfix:after {
      clear: both; }
.clearfix { zoom: 1; }

.info, .success, .warning, .error { border: 1px solid; padding: 15px 10px; }
.info { color: #00529B; background-color: #BDE5F8; }
.success { color: #4F8A10; background-color: #DFF2BF; }
.warning { color: #9F6000; background-color: #FEEFB3; }
.error { color: #D8000C; background-color: #FFBABA; }