/*
	Name: PsySkap CSS
	URI: psychaid.no/skap/
	Ver.: 0.3
	Author: Vegard Smelror Åmdal
*/

/*
	Psychaid.no Stylesheet Override
*/
html { height: 101%; } /* Force vertical scrollbar */
#pageContent form { max-width: 100%; }
#pageContent ul li { margin-bottom: .2em !important; }
#pageContent table { border-collapse: collapse; width: 100%; }
#pageContent table tr { border-bottom: 1px #eee solid; }
#pageContent table tr td { padding: 5px; }
#pageContent table tr th { background-color: #eee; font-family: Arial, sans-serif; font-size: .9em; padding: 4px; text-shadow: #fff 1px 1px 1px; }

ul#nav { position: relative !important; }
#nav li.logout a:hover { background-color: #f00; color: #000;}
/*
	CTA Buttons
*/
.actionButtonList { list-style-type: none; padding: 0; }
	.actionButtonList li, #pageContent .actionButtonList li { vertical-align: middle; margin-bottom: 1em !important; }
	.actionButtonList li a, .actionButtonList li a:visited {
		text-decoration: none;
		background-color: #f5f5f5;
		border-radius: 2px;
		box-shadow: 0 1px 3px #a1a1a1;
		padding: 1em;
		color: #333 !important;
		display: block;
		max-width: 20em;
		margin-right: 1em;
		font-size: 1.1em;
		line-height: 1.5;
		position: relative;
	}
	.actionButtonList li a span.maintext { display: block; }
	.actionButtonList li a span.helptext { display: block; font-size: .8em; font-family: Arial, sans-serif; }
	.actionButtonList li a:hover { background-color: #FFFF8B; }
	.actionButtonList li a:active { box-shadow:inset 0 1px 2px #666; top: 2px; background-color: #dedede; }
	/*
		.actionButtonList icons for special buttons
	*/
	.actionButtonList li a span#btnFinn, .actionButtonList li a span#btnReg { background: url("pics/icons-velkommen-cta.png") no-repeat transparent; }
	.actionButtonList li a span#btnFinn { background-position: right -36px; }
	.actionButtonList li a span#btnReg { background-position: right 0; }
	.actionButtonList li a span#userinfo, .actionButtonList li a span#mods, .actionButtonList li a span#elog { background: url("pics/icons-settings.png") no-repeat transparent; }
	.actionButtonList li a span#userinfo { background-position: right 0; }
	.actionButtonList li a span#mods { background-position: right -36px; }
	.actionButtonList li a span#elog { background-position: right -72px; }
/*
	Skap table
*/
.skapTable { border-collapse: collapse; width: 100%; }
	.skapTable tr { 
		border: 2px #eee solid;
		-webkit-transition: background-color 0.3s linear;
		-moz-transition: background-color 0.3s linear;
		-o-transition: background-color 0.3s linear;
	  	transition: background-color 0.3s linear;	
	}
	.skapTable .skapTableBody { margin-bottom: 10px; }
	.skapTable tr:hover { background-color: #FEEFB3; }
	.skapTable tr td { padding: 10px; }
	.skapTable tr th { background-color: #eee; font-family: Arial, sans-serif; padding: 8px; text-shadow: #fff 1px 1px 1px; border-right: 4px #fff solid; }

	.skapTable th.nummer, .skapTable th.rom { width: 70px; font-size: 1.1em; }
	.skapTable th.eier { width: 150px; }
	.skapTable th.bet { width: 160px; }

	.skapTable tr td.betaling {
		opacity: 0.6;
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
		-o-transition: opacity 0.5s linear;
	  	transition: opacity 0.5s linear;	
	}
	.skapTable tr:hover td.betaling { opacity: 0.8; }
	.skapTable tr td.betaling:hover { opacity: 1; }

/*
	UI buttons
*/
[class*='btn'] {
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	
	-webkit-transition: background-color 0.1s linear;
	-moz-transition: background-color 0.1s linear;
	-o-transition: background-color 0.1s linear;
	transition: background-color 0.1s linear;	
}
[class*='btn']:hover {
		cursor: pointer;
	}

.btn-green {
	background-color: rgb( 43, 153, 91 );
	border: 1px solid rgb( 33, 126, 74 );
}
	.btn-green:hover {
		background-color: rgb( 75, 183, 141 );
	}
	.btn-green:active {
		background-color: rgb( 33, 126, 74 );
	}

.btn-red {
	background-color: rgb( 207, 56, 91 );
	border: 1px solid rgb( 187, 40, 74 );
}
	.btn-red:hover {
		background-color: rgb( 227, 77, 130 );
	}
	
	.btn-red:active {
		background-color: rgb( 187, 40, 74 );
	}

.btn-grey {
	background-color: #ccc;
	border: 1px solid #999;
	color: #c0392b;
}
	.btn-grey:hover {
		background-color: #999;
		color: #fff;
	}

/*
	Skap Tree View
*/
.skapListe { list-style-type: none; padding: 0; margin: 1em 0; }
	.etg-button {
		cursor: pointer;
		background: url("pics/etg-button-arrow.png") no-repeat left center #fff;
		padding-left: .6em;
		-webkit-transition: padding 0.3s ease-out;
		-moz-transition: padding 0.3s ease-out;
		-ms-transition: padding 0.3s ease-out;
	}
	.etg-button:hover { padding-left: 1em; }
	.etasje { clear: both; padding: 0; }
		.building-container .skapListe .skap,
		#pageContent .building-container .skapListe .skap {
			float: left;
			position: relative;
			list-style-type: none;
			display: inline-block;
			padding: 5px;
			border: 1px #ccc solid;
			cursor: pointer;
			margin-right: .5em;
			margin-bottom: .5em !important;
			font-family: Arial, sans-serif;
			width: 3em;
			text-align: center;
			-webkit-transition: box-shadow 0.1s ease-out;
			-moz-transition: box-shadow 0.1s ease-out;
			-o-transition: box-shadow 0.1s ease-out;
		}
		.skapListe .skap:hover {
			box-shadow: 0 15px 10px -13px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1) inset;
			text-shadow: #fff 1px 1px 4px;
		}
		.skapListe .skap:active { background: #9AC0FA; top: 1px; text-shadow: #fff 1px 1px 1px; }

.building-container { padding: .3em; }
	.building-tabs-list { border-bottom: 1px #ccc solid; padding: 0; line-height: 1.5; }
		.building-tab {
			cursor: pointer;
			background: #F9F9F9;
			border: 1px #ccc solid;
			color: #06f;
			margin-right: .5em;
			padding: .1em .5em 3px .5em;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		.building-tab:hover { background: #fefefe; color: #87161A; }
		.selected-tab {
			background: #fff;
			color: #333;
			border-bottom: 0;
			padding-bottom: 4px;
		}

.skapSingle { background: #fff; padding: 1em; }
.skapNr-a, .skapNr-na, .skapEtg, .skapBygg, .skapPris, .skapEta { background: url("pics/icons-skap-details.png") no-repeat transparent; padding-left: 2.2em; }
.skapNr-a { background-position: 0px -78px; }
.skapNr-na { background-position: 0px -116px; }
.skapEtg { background-position: 0px -40px; }
.skapBygg { background-position: 0px -3px; }
.skapPris { background-position: 0px -192px; }
.skapEta { background-position: 0px -154px; }

#toolbox { margin: 18px 0; }


/*
	Tools and general styling
*/
.clearfix:before, .clearfix:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
.clearfix:after {
      clear: both; }
.clearfix { zoom: 1; }
.alignRight { text-align: right; }
.alignLeft { text-align: left; }
.alignCenter { text-align: center; }
.floatRight { float: right; }
.floatLeft { float: left; }
.noBorder { border: none !important; }
.raised { box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.1) inset;	}
.info, .success, .warning, .error { border: 1px solid; border-radius: 3px; padding: 15px 10px; list-style-type: none; margin-top: 0; }
.info ul li, .success ul li, .warning ul li, .error ul li { margin-bottom: .3em; }
.info { color: #00529B; background-color: #BDE5F8; }
.success { color: #4F8A10; background-color: #DFF2BF; }
.warning { color: #9F6000; background-color: #FEEFB3; }
.error { color: #D8000C; background-color: #FFBABA; }
label { cursor: pointer; }