/*
	Name: PsySkap CSS
	URI: psychaid.no/skap/
	Ver.: 0.3
	Author: Vegard Smelror Åmdal
*/

/*
	Psychaid.no Stylesheet Override
*/
#pageContent form { max-width: 100%; }
#pageContent ul li { margin-bottom: .2em !important; }

ul#nav { position: relative !important; }
#nav li.logout a { position: absolute; top: -91px; right: 0; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; }
#nav li.logout a:hover { top: -79px; }
/*
	CTA Buttons
*/
.actionButtonList { list-style-type: none; padding: 0; }
	.actionButtonList li, #pageContent .actionButtonList li { vertical-align: middle; margin-bottom: 1em !important; }
	.actionButtonList li a, .actionButtonList li a:visited {
		text-decoration: none;
		background-color: #f5f5f5;
		border-radius: 2px;
		box-shadow: 0 1px 3px #a1a1a1;
		padding: 1em;
		color: #333 !important;
		display: block;
		max-width: 20em;
		margin-right: 1em;
		font-size: 1.1em;
		line-height: 1.5;
		position: relative;
	}
	.actionButtonList li a span.maintext { display: block; }
	.actionButtonList li a span.helptext { display: block; font-size: .8em; font-family: Arial, sans-serif; }
	.actionButtonList li a:hover { background-color:#dedede; text-shadow: 1px 1px 0px #f5f5f5; }
	.actionButtonList li a:active { box-shadow:inset 0 1px 2px #666; top: 2px; }
	/*
		.actionButtonList icons for special buttons
	*/
	.actionButtonList li a span#btnFinn, .actionButtonList li a span#btnReg { background: url("pics/icons-velkommen-cta.png") no-repeat transparent; }
	.actionButtonList li a span#btnFinn { background-position: right -36px; }
	.actionButtonList li a span#btnReg { background-position: right 0; }


.skapListe { list-style-type: none; padding: 0; margin: 1em 0; }
	.etg-button {
		cursor: pointer;
		background: url("pics/etg-button-arrow.png") no-repeat 0 8px #fff;
		padding-left: .6em;
		-webkit-transition: padding 0.3s ease-out;
	}
	.etg-button:hover { padding-left: 1em; }
	.etasje { clear: both; padding: 0; font-variant: small-caps; }
		.building-container .skapListe .skap,
		#pageContent .building-container .skapListe .skap {
			float: left;
			position: relative;
			list-style-type: none;
			display: inline-block;
			padding: 5px;
			border: 1px #ccc solid;
			cursor: pointer;
			margin-right: .5em;
			margin-bottom: .5em !important;
			font-family: Arial, sans-serif;
			width: 3em;
			text-align: center;
			-webkit-transition: box-shadow 0.2s ease-out;
			-moz-transition: box-shadow 0.2s ease-out;
			-o-transition: box-shadow 0.2s ease-out;
		}
		.skapListe .skap:hover {
			background: #F9F9F9;
			-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;	
		}
		.skapListe .skap:active { background: #9AC0FA; top: 1px; }

.building-container { padding: .3em; }
	.building-tabs-list { border-bottom: 1px #ccc solid; padding: 0; }
		.building-tab {
			cursor: pointer;
			background: #F9F9F9;
			border: 1px #ccc solid;
			color: #06f;
			margin-right: .5em;
			padding: .1em .5em 1px .5em;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
		.building-tab:hover { background: #fefefe; color: #87161A; }
		.selected-tab {
			background: #fff;
			color: #333;
			border-bottom: 0;
			padding-bottom: 2px;
		}

.skapSingle { background: #fff; padding: 1em; }
.skapNr-a, .skapNr-na, .skapEtg, .skapBygg, .skapPris, .skapEta { background: url("pics/icons-skap-details.png") no-repeat transparent; padding-left: 2.2em; }
.skapNr-a { background-position: 0px -78px; }
.skapNr-na { background-position: 0px -116px; }
.skapEtg { background-position: 0px -40px; }
.skapBygg { background-position: 0px -3px; }
.skapPris { background-position: 0px -192px; }
.skapEta { background-position: 0px -154px; }


/*
	Tools and general styling
*/
.clearfix:before, .clearfix:after, {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
.clearfix:after {
      clear: both; }
.clearfix { zoom: 1; }
.raised { box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 3px rgba(0, 0, 0, 0.1) inset;	}
.info, .success, .warning, .error { border: 1px solid; border-radius: 3px; padding: 15px 10px; list-style-type: none; }
.info ul li, .success ul li, .warning ul li, .error ul li { margin-bottom: .3em; }
.info { color: #00529B; background-color: #BDE5F8; }
.success { color: #4F8A10; background-color: #DFF2BF; }
.warning { color: #9F6000; background-color: #FEEFB3; }
.error { color: #D8000C; background-color: #FFBABA; }