/* styles.scss */

/* Colors */



/* Mixins */
@mixin hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}
/*
prefix-demo
.block {
  @include prefix("transition", ".5s");
  @include prefix("border-radius", "5px", ("-webkit-","-moz-",""));
}
*/